.m2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 200px 0px ;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    border: 1px solid;
    border-radius: 4px;
}

.btn{
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    border: none;
    padding: 8px 24px;
    font-size: 16px;
    font-weight: 500;

}

.placeHolder{
    font-size: 16px;
    padding: 4px;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 4px;
}

